.menu {
    position: absolute;
    width: 80%;
    height: 80%; 
    top: 10%; 
    left: 10%;
    background: #A0A0A0;
    z-index: 1;
}

.menuMode {
				position: absolute;
    width: 38%;
    height: 68%; 
    top: 11%; 
    left: 11%;
    background: #919191;
    z-index: 2;
}

.menuDiff {
				position: absolute;
    width: 38%;
    height: 68%; 
    top: 11%; 
    left: 51%;
    background: #919191;
    z-index: 2;
}

.menuButton {
				position: absolute;
				width: 70%;
				height: 14%;
				position: fixed;
				left: 15%;
				z-index: 3;
				color: #A0A0A0;
				font-family: 'Comfortaa', cursive;
				font-size: 40px;
				letter-spacing: 0px;
				word-spacing: 0px;
				color: #709493;
				font-weight: bold;
				text-decoration: none;
				font-style: normal;
				font-variant: small-caps;
				text-transform: capitalize;
}

.menuButtonImage {
				position: absolute;
				width: 30%;
				height: 26%;
				position: fixed;
				left: 15%;
				z-index: 3;
				color: #A0A0A0;
}

.menuButtonSmall {
				position: absolute;
				width: 30%;
				height: 10%;
				position: fixed;
				left: 55%;
				z-index: 3;
				color: #A0A0A0;
				font-family: 'Comfortaa', cursive;
				font-size: 20px;
				letter-spacing: 0px;
				word-spacing: 0px;
				color: #709493;
				font-weight: bold;
				text-decoration: none;
				font-style: normal;
				font-variant: small-caps;
				text-transform: capitalize;
}

#menuContinue {
				top: 14%;
}

#menuNewGame {
				top: 34%;
}

#menuSettings {
				top: 54%;
}

#menuAuthors {
				top: 74%;
}

#menuExpand {
				top: 14%;
}

#menuGravity {
				top: 44%;
}

#menuDiff1 {
				top: 14%;
}

#menuDiff2 {
				top: 27%;
}

#menuDiff3 {
				top: 40%;
}

#menuDiff4 {
				top: 53%;
}

#menuDiff5 {
				top: 66%;
}

#menuStart {
				top: 80%;
				height: 8%;
}
